.dial {
    height: 400px;
    width: 400px;
}

.timer {
    position: relative;
    display: inline-block;
    margin: 200px 600px;
}

* {
    font: inherit;
}
  
body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
}

.timer input {
    display: block;
    border: none;
    width: 240px;
    font-size: 90px;
    text-align: center;
    margin-bottom: 10px;
}

.timer button {
    border: none;
    font-size: 36px;
    cursor: pointer;
    padding: 10px 18px;
    margin: 6px 14px;
    background-color: #ffffff;
}

.timer button:hover {
    background-color: #ccf1f1;
    border-radius: 30px;
}

.timer button:active {
    background-color: #7be2e2;
    border-radius: 20px;
}

.timer button:focus {
    outline: none;
}

.timer input:focus {
    outline: none;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}